/*--------------------------------------------------
Main section
--------------------------------------------------*/
#main {
    margin-top: 275px;
}

/* Welcome message */
#welcome {
    color: white;
    margin-bottom: 500px;
}


/* About */
#about {
    /* background-color: white; */
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
}

#about h1 {
    text-align: center;
    padding-bottom: 25px;
}

#about p {
    font-size: 1.5em;
}

/* Projects */
#projects {
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

.single-project-section {
    padding-top: 10px;
    padding-bottom: 10px;
}

#projects h1, h3, h5 {
    text-align: center;
}

#projects .col, .col-4 {
    border-style: solid;
    border-color: black;
    color: black;
    background-color: white;
    text-align: center;
}

#projects img {
    max-width: 100%;
    max-height: 100%;
}